body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
code {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
}
dd	{
	margin-bottom: 10px;
}
h1	{
	font-size: 18pt;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
h2 {
	font-size: 14pt;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
h3 {
	font-size: 12pt;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
p {
	font-size: 10pt;
	text-align: justify;
}
p18 {
	font-size: 18pt;
	text-align: justify;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 10px;
}
td {
	cell-spacing: 5px;
	padding: 1px 10px;
}
a img {
	border-style: none;
}
.alpha {
	color: #FF0000;
}
.bolditalicunderline {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
.center {
	text-align: center;
}
.cvsfooter {
	font-size: x-small;
	font-style: italic;
	text-align: right;
}
.indent0 {
	margin: 10px 0px 0px;
}
.indent1 {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.indent2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}
.indent3 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
}
.indent4 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
}
.tindent4 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-indent: 100px;
}
.tagindent0 {
	text-align: left;
	margin-top: 0px;
	margin-right: 10%;
	margin-bottom: 0px;
	margin-left: 0px;
	text-indent: 0px;
}
.tagindent1 {
	text-align: left;
	margin-top: 0px;
	margin-right: 10%;
	margin-bottom: 0px;
	margin-left: 25px;
	text-indent: -25px;
}
.tagindent2 {
	text-align: left;
	margin-top: 0px;
	margin-right: 10%;
	margin-bottom: 0px;
	margin-left: 50px;
	text-indent: -50px;
}
.tagindent3 {
	text-align: left;
	margin-top: 0px;
	margin-right: 10%;
	margin-bottom: 0px;
	margin-left: 75px;
	text-indent: -75px;
}
.tagindent4 {
	text-align: left;
	margin-top: 0px;
	margin-right: 10%;
	margin-left: 100px;
	text-indent: -100px;
}
.tagname {
	margin: 10px 0px 0px;
}
.varused {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.tagexamplst {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
}
.tagexampdesc {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
}
.new {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: -10px;
}
.lstnew {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: -10px;
}
.lstdep {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: -10px;
}
.lstupnew {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: -10px
}
.lststatus {
	color: #000000;
	font-weight: bold;
	margin-bottom: -10px;
}
.lstwarning {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: -10px;
}
.underline {
	text-decoration: underline;
}
.sidebar {
	background: #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding:	5px;
}
.sidebar0 {
	background: #EFEFEF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding:	5px;
}
.sidebar1 {
	background: #EFEFEF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding:	5px;
}
.lstvar {
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}
.lstfile {
	text-decoration: underline;
	font-style: italic;
	font-size: 10pt;
}
.pubsrc {
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	font-size: 10pt;
}
.lstobj {
	font-weight: bold;
	font-size: 10pt;
}
.w20 {
	width: 20%;
}
.w25 {
	width: 25%;
}
.w33 { 
	width: 33%;
}
.w50 {
	width: 50%;
}
.w67 {
	width: 67%;
}
.w75 {
	width: 75%;
}
.w80 {
	width: 80%;
}
.w35 {
	width: 35%;
}
.w10 {
	width: 10%;
}
.f06 {
	font-size: 6pt;
}
.cb9 {
	blackground-color: #000000;
	color: #ffffff;
	text-align: center;
}
.cw8 {
	font-size: 8pt;
	blackground-color: #ffffff;
	color: #000000;
	text-align: center;
}
.cb8 {
	font-size: 8pt;
	blackground-color: #000000;
	color: #ffffff;
	text-align: center;
}
.cw6 {
	font-size: 6pt;
	blackground-color: #ffffff;
	color: #000000;
	text-align: center;
}
.cb6 {
	font-size: 6pt;
	blackground-color: #000000;
	color: #ffffff;
	text-align: center;
}
pre.code {
	border: 1px dashed rgb(0, 0, 0); 
	padding-left: 5px; 
	background-color: beige;	
}

div#TOC::before{
	content:"Table of Contents";
	font-weight: bold;
}

div#TOC{
	border: 1px solid #eef;
	background-color: #f8f8ff;
	padding: 1em 2em 1em 1em;
	display: table;
}

div.figure img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.figure p{
	font-style: italic;
	text-align: center;
}

div.deprecated {
	color: gray;
	border: 1px solid silver;
	border-radius: 0.5em;
	background-color: #eee;
	margin: 1em;
	padding: 1em;
}

div.deprecated::before{
	content:"Deprecated";
	font-weight: bold;
	font-size: 1.2em;
	color: red;
}

div.deprecated::after{
	content:"Deprecated";
	font-weight: bold;
	font-size: 1.2em;
	color: red;
}